*{
    margin: 0;
    padding: 0;
    font-family: 'bahnschrift';
}

form{
    margin-top: 20px;
    text-align: center;
    margin-left: -10px;
}
input{
    width: 120px;
    height: 40px;
    font-size: 1rem;
}
select{
    width: 120px;
    height: 40px;
    font-size: 1.1rem;
}
label{
    font-size: 1.1rem;
  
    border-bottom: 2px solid black;
}

.contenedor{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    border-top: 2px solid black;
   padding-top: 1rem;
}

.mesas{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.4rem;
}
.mesas h4{
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.mesas input{
width: 20px;
height: 20px;


}

.info{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 10px 20px;
    border: 2px solid black;
    width: 90%;

}

.info button{
    margin-top: -30px;
    margin-left:90%;
    width: 30px;
    height: 30px;
}

.pedido-gris {
    background-color: #a5a5a5; 
    text-decoration: line-through;
}

.info h3{
 background-color: black;
 color: azure;
 width: 100%;
 text-align: center;
 height: 30px;
 padding-top: 5px;
}
.info h4{
    margin-left: 28%;
    margin-bottom: 15px;
    margin-top: 5px;
   
   }
.info p{
 margin:5px 10px;
 font-weight: 700;
}